@model GameShelf.Models.ViewModels.GameEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Game</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="GameWithPersonInfo.ID" />

            <div class="form-group">
                <label asp-for="GameWithPersonInfo.Title" class="control-label"></label>
                <input asp-for="GameWithPersonInfo.Title" class="form-control" />
                <span asp-validation-for="GameWithPersonInfo.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GameWithPersonInfo.PlayTime.PlayTimeCategory" class="control-label"></label>
                <select class="form-control" asp-for="GameWithPersonInfo.PlayTimeID" asp-items="@Model.PlayTimeSelect"></select>
            </div>

            <div class="form-group">
                <label asp-for="GameWithPersonInfo.MinPlayers" class="control-label"></label>
                <input asp-for="GameWithPersonInfo.MinPlayers" class="form-control" type="text" />
                <span asp-validation-for="GameWithPersonInfo.MinPlayers" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GameWithPersonInfo.MaxPlayers" class="control-label"></label>
                <input asp-for="GameWithPersonInfo.MaxPlayers" class="form-control" type="text" />
                <span asp-validation-for="GameWithPersonInfo.MaxPlayers" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GameWithPersonInfo.Owners" class="control-label"></label> &nbsp;
                <a asp-controller="People" asp-action="Create" asp-route-origin="gameedit" asp-route-id="@Model.GameWithPersonInfo.ID">Create a New Person in the Database</a> <br />
                <div id="checkboxes">
                    @{
                        foreach (var person in Model.AllPersonsData.OrderByDescending(p => p.AssignedOwner))
                        {
                            <input type="checkbox"
                                   name="selectedOwners"
                                   value="@person.PersonID"
                                   @Html.Raw(person.AssignedOwner ? "checked=\"checked\"" : "") /> @:@person.FullName <br />
                        }
                     }
                </div>
            </div>

            <div class="form-group">
                <label asp-for="GameWithPersonInfo.Designers" class="control-label"></label> &nbsp;
                <a asp-controller="People" asp-action="Create" asp-route-origin="gameedit" asp-route-id="@Model.GameWithPersonInfo.ID">Create a New Person in the Database</a><br />
                <div id="checkboxes">
                    @{
                        foreach (var person in Model.AllPersonsData.OrderByDescending(p => p.AssignedDesigner))
                        {
                            <input type="checkbox"
                                   name="selectedDesigners"
                                   value="@person.PersonID"
                                   @Html.Raw(person.AssignedDesigner ? "checked=\"checked\"" : "") /> @:@person.FullName <br />
                        }
                     }
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to My Games</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}