@model GameIndexViewModel;

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
    <br />
</p>

<div>
    <form asp-controller="Games" asp-action="Index" method="get">
        Title: <input type="text" name="titleFilter" value="@Model.TitleFilter" /> &nbsp;
        Owner: <input type="text" name="ownerFilter" value="@Model.OwnerFilter" /> &nbsp;
        Designer: <input type="text" name="designerFilter" value="@Model.DesignerFilter" /> 
        <input type="hidden" name="sort" value="@(Model.Sort)" />
        <input type="submit" value="Filter Games" />
    </form>

    <form asp-controller="Games" asp-action="Index" method="get">
        <input type="hidden" name="titleFilter" value="" />
        <input type="hidden" name="ownerFilter" value="" />
        <input type="hidden" name="designerFilter" value="" />
        <input type="hidden" name="sort" value="@(Model.Sort)" />
        <input type="submit" value="Clear Filter" />
    </form>
</div>

<br /><br />

<table class="table">
    <thead>
        <tr>
            <th>
                <a href="/Games?titleFilter=@(Model.TitleFilter)&ownerFilter=@(Model.OwnerFilter)&designerFilter=@(Model.DesignerFilter)&sort=@(Model.Sort == "title-asc" ? "title-desc" : "title-asc")">Title</a>
            </th>
            <th>
                <a href="/Games?titleFilter=@(Model.TitleFilter)&ownerFilter=@(Model.OwnerFilter)&designerFilter=@(Model.DesignerFilter)&sort=@(Model.Sort == "year-asc" ? "year-desc" : "year-asc")">Publication Year</a>
            </th>
            <th>Owners</th>
            <th>Designers</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model.GameList)
        {
            <tr>
                <td>
                    @game.Title
                </td>
                <td>
                    @game.PublicationYear
                </td>
                <td>
                    @Html.Raw(string.Join("<br />", game.Owners.Select(p => p.FullName)))
                </td>
                <td>
                    @Html.Raw(string.Join("<br />", game.Designers.Select(p => p.FullName)))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@game.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@game.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@game.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
