@model IEnumerable<GameIndexViewModel>;

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@*<div>
    <form asp-controller="Games" asp-action="Index" method="get">
        Title: <input type="text" name="titleFilter" value="@"

    </form>
</div>*@
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Publication Year)</th>
            <th>Owners</th>
            <th>Designers</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gameViewModel in Model)
         {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => gameViewModel.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => gameViewModel.PublicationYear)
                </td>
                <td>
                    @Html.Raw(string.Join("<br />", gameViewModel.Owners.Select(p => p.FullName)))
                </td>
                <td>
                    @Html.Raw(string.Join("<br />", gameViewModel.Designers.Select(p => p.FullName)))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@gameViewModel.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@gameViewModel.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@gameViewModel.ID">Delete</a>
                </td>
            </tr>
         }
    </tbody>
</table>
