@model GameIndexViewModel;

@{
    ViewData["Title"] = "Index";
}

<h2>My Games</h2>

<p>
    <a asp-action="Create">Create New</a>
    <br />
</p>

<br />
<form asp-controller="Games" asp-action="Index" method="get">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @*Title*@
                    <a href="/Games?titleFilter=@(Model.TitleFilter)&playTimeFilter=@(Model.PlayTimeFilter)&ownerFilter=@(Model.OwnerFilter)&designerFilter=@(Model.DesignerFilter)&sort=@(Model.Sort == "title-asc" ? "title-desc" : "title-asc")">Title</a>
                </th>
                <th>
                    @*Playing Time*@
                    <a href="/Games?titleFilter=@(Model.TitleFilter)&playTimeFilter=@(Model.PlayTimeFilter)&ownerFilter=@(Model.OwnerFilter)&designerFilter=@(Model.DesignerFilter)&sort=@(Model.Sort == "time-asc" ? "time-desc" : "time-asc")">Playing Time</a>
                </th>
                <th>
                    @*Minimum Players*@
                    <a href="/Games?titleFilter=@(Model.TitleFilter)&playTimeFilter=@(Model.PlayTimeFilter)&ownerFilter=@(Model.OwnerFilter)&designerFilter=@(Model.DesignerFilter)&sort=@(Model.Sort == "minplay-asc" ? "minplay-desc" : "minplay-asc")">Minimum <br /> Players</a>
                </th>
                <th>
                    @*Maximum Players*@
                    <a href="/Games?titleFilter=@(Model.TitleFilter)&playTimeFilter=@(Model.PlayTimeFilter)&ownerFilter=@(Model.OwnerFilter)&designerFilter=@(Model.DesignerFilter)&sort=@(Model.Sort == "maxplay-asc" ? "maxplay-desc" : "maxplay-asc")">Maximum <br />  Players</a>
                </th>
                <th>Owners</th>
                <th>Designers</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input class="form-control" type="text" name="titleFilter" value="@Model.TitleFilter" />
                </td>
                <td>
                    <select class="form-control" asp-for="PlayTimeFilter" asp-items="@Model.PlayTimeSelect">
                        <option value="">Select Playing Time</option>
                    </select>
                </td>
                <td>
                    <input id="short-text-box" class="form-control" type="text" name="minFilter" value="@(Model.MinFilter == 0 ? "" : Model.MinFilter.ToString())" />
                </td>
                <td>
                    <input id="short-text-box" class="form-control" type="text" name="maxFilter" value="@(Model.MaxFilter == 0 ? "" : Model.MaxFilter.ToString())" />
                </td>
                <td>
                    <input class="form-control" type="text" name="ownerFilter" value="@Model.OwnerFilter" />
                </td>
                <td>
                    <input class="form-control" type="text" name="designerFilter" value="@Model.DesignerFilter" />
                </td>
                <td>
                    <input type="hidden" name="sort" value="@(Model.Sort)" />
                    <input class="form-control" type="submit" value="Filter Games" />
                </td>            
            </tr>
        @foreach (var game in Model.GameList)
         {
            <tr>
                <td>
                    @game.Title
                </td>
                <td>
                    @game.PlayTime.PlayTimeCategory
                </td>
                <td>
                    @game.MinPlayers
                </td>
                <td>
                    @game.MaxPlayers
                </td>
                <td>
                    @Html.Raw(string.Join("<br />", game.Owners.Select(p => p.FullName)))
                </td>
                <td>
                    @Html.Raw(string.Join("<br />", game.Designers.Select(p => p.FullName)))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@game.ID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@game.ID">Delete</a>
                </td>
            </tr>
         }
        </tbody>
    </table>
</form>